[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/dsrkafuu/hugo-theme-fuji.git
[submodule "static/fonts/material-icons"]
	path = static/fonts/material-icons
	url = https://github.com/google/material-design-icons.git
