// Override variables with that file
@import '_custom'; // Keep that for back-compatibility. This shouldn't be used anymore.

$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial", "Yu Gothic Medium", "Meiryo", sans-serif;
$bold-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$mono-font: "Roboto Mono", 'Cascadia Code', 'SF Mono', 'Fira Code', 'Consolas', 'Noto Sans JP', monospace, $body-font;
$title-font: $body-font;
$font-weight-bold: 600;

$light-color-bg: #ffffff;
$light-color-mute: #5f6368;
$light-color-primary: #1a0dab;
$light-color-secondary: #660099;

$dark-color-bg: #000000;
$dark-color-codebg: #303030;
$dark-color-font: #e8eaed;
$dark-color-mute: #9aa0a6;
$dark-color-primary: #8ab4f8;
$dark-color-secondary: #c58af9;
$dark-scrollbar-hover: #757575;
