// Override variables with that file
@import '_custom'; // Keep that for back-compatibility. This shouldn't be used anymore.

$body-font: -apple-system, BlinkMacSystemFont, "Roboto", "Arial", "Noto Sans JP", "Yu Gothic Medium", "Meiryo", sans-serif;
$mono-font: "Roboto Mono", 'Cascadia Code', 'SF Mono', 'Fira Code', 'Consolas', monospace, $body-font;
$title-font: $body-font;

$dark-color-bg: #202124;