// Override variables with that file
@import '_custom'; // Keep that for back-compatibility. This shouldn't be used anymore.

$body-font: -apple-system, BlinkMacSystemFont, "Roboto", "Arial", "Noto Sans JP", "Yu Gothic Medium", "Meiryo", sans-serif;
$mono-font: "Roboto Mono", 'Cascadia Code', 'SF Mono', 'Fira Code', 'Consolas', $body-font, monospace;
$title-font: $body-font;

$light-color-bg: #ffffff;
$light-color-mute: #5f6368;
$light-color-primary: #1e73e8;
$light-color-secondary: #660099;

$dark-color-bg: #000000;
$dark-color-font: #e8eaed;
$dark-color-mute: #9aa0a6;
$dark-color-primary: #8ab4f8;
$dark-color-secondary: #c58af9;
