@font-face {
	font-family: 'Material Icons';
	src: local('Material Icons'),
		url('/fonts/MaterialIcons-Regular.ttf') format('truetype'),
		url('https://fonts.gstatic.com/s/materialicons/v109/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icon {
	font-family: 'Material Icons' !important;
	user-select: none;
}

.material-icons::before {
	font-family: 'Material Icons' !important;
	padding-right: 0.25rem;
}

.comment::before {
	content: 'comment';
}

.event::before {
	content: 'event';
}

.local-offer::before {
	content: 'local_offer';
}

.update::before {
	content: 'update';
}
