{{ define "main" }}
  <article data-clarity-region="article">
    <!-- post meta -->
    <h1 class="post-item post-title">{{ .Title }}</h1>
    <div class="post-item post-meta">{{ partial "post-meta.html" . }}</div>
    <!-- post main content -->
    <div class="post-content markdown-body">{{ .Content }}</div>
  </article>

  <!-- post license -->
  {{ if and (or .Site.Params.showLicense .Params.showLicense) (ne .Params.showLicense false) }}
    <div class="license markdown-body">
      <blockquote>
        <p>
          {{ i18n "postCopyrightFront" }}
          <a rel="license" href="{{ .Site.Params.licenseLink }}" target="_blank">{{ .Site.Params.license }}</a>
          {{ i18n "postCopyrightEnd" }}
        </p>
      </blockquote>
    </div>
  {{ end }}

  <aside>
    {{ partial "related.html" . }}

    {{ if ne .Params.showComments false }}
      {{ if .Site.Params.disqusJSApi }}
        {{ partial "comment-disqusjs.html" . }}
      {{ else if .Site.Params.disqusShortname }}
        {{ partial "comment-disqus.html" . }}
      {{ else if .Site.Params.utterancesRepo }}
        {{ partial "comment-utterances.html" . }}
      {{ else if and .Site.Params.giscusRepo .Site.Params.giscusCategory }}
        {{ partial "comment-giscus.html" . }}
      {{ end }}
    {{ end }}
  </aside>
{{ end }}
