<div class="btn">
	<div class="btn-menu" id="btn-menu">
		<span class="material-icon">
			menu
		</span>
	</div>
	<div class="btn-scroll-top">
		<span class="material-icon">
			keyboard_arrow_up
		</span>
	</div>
</div>

<aside class="sidebar-mobile" style="display: none;">
	<div class="sidebar-wrapper">
		<!-- pages -->
		<div class="sidebar-item sidebar-pages">
			<h3>
				Pages
			</h3>
			<ul>
				{{ range .Site.Menus.nav }}
				<li>
					<a href="{{ .URL }}">
						{{ .Name }}
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
		<!-- links -->
		<div class="sidebar-item sidebar-links">
			<h3>
				Links
			</h3>
			<ul>
				{{ range .Site.Menus.link }}
				<li>
					<a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">
						<span>
							{{ .Name }}
						</span>
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
		<!-- tags -->
		<div class="sidebar-item sidebar-tags">
			<h3>
				Tags
			</h3>
			<div>
				{{ range .Site.Taxonomies.tags }}
				<span>
					<a href="{{ .Page.RelPermalink }}">
						{{ .Page.Title }}
					</a>
				</span>
				{{ end }}
			</div>
		</div>
		<!-- in-post toc -->
		{{ if in .Site.Params.mainSections .Type }}
		{{ if and (or .Site.Params.showToc .Params.showToc) (ne .Params.showToc false) }}
		<div class="sidebar-item sidebar-toc">
			<h3>
				Contents
			</h3>
			{{ .TableOfContents }}
		</div>
		{{ end }}
		{{ end }}

		<div class="sidebar-item">
			{{ partial "language-switcher" . }}
		</div>
	</div>
</aside>
