<span>
	<span class="material-icon">
		event
	</span>
	&nbsp;{{ .Date.Format "2006-01-02" }}
</span>

{{ if ne .Date.YearDay .Lastmod.YearDay }}
<span>
	<span class="material-icon">
		update
	</span>
	&nbsp;{{ dateFormat ( or $.Site.Params.dateFormat "2006-01-02" ) $.Page.Params.LastMod }}
</span>
{{ end }}

{{ if .Site.Params.showWordCounter }}
<span>
	<i class="iconfont icon-file-tray-sharp"></i>
	&nbsp;{{ i18n "postMetaWordCount" .WordCount}}
</span>
{{ end }}

{{ if .Site.Params.showReadTime }}
<span>
	<i class="iconfont icon-time-sharp"></i>
	&nbsp;{{ i18n "postMetaReadingTime" .ReadingTime }}
</span>
{{ end }}

<span>
	<span class="material-icon">
		local_offer
	</span>
	&nbsp;
	{{ if .Params.tags }}
	{{ range .Params.tags }}
	<a href="{{ " /tags/" | relURL }}{{ . | urlize}}">
		{{ . }}
	</a>
	&nbsp;
	{{ end }}
	{{ else }}
	{{ i18n "postMetaNoTag" }}
	{{ end}}
</span>
