<aside class="col-12 col-md-3 float-left sidebar">
  <div class="sidebar-item">
    {{- partial "language-switcher" . -}}
  </div>

  <!-- pages -->
  <div class="sidebar-item sidebar-pages">
    <h3>
      Pages
    </h3>
    <ul>
      {{- range .Site.Menus.nav -}}
      <li>
        <a href="{{ .URL }}">
          {{- .Name -}}
        </a>
      </li>
      {{- end -}}
    </ul>
  </div>
  <!-- links -->
  <div class="sidebar-item sidebar-links">
    <h3>
      Links
    </h3>
    <ul>
      {{- range .Site.Menus.link -}}
      <li>
        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">
          <span>
            {{- .Name -}}
          </span>
        </a>
      </li>
      {{- end -}}
    </ul>
  </div>
  <!-- tags -->
  <div class="sidebar-item sidebar-tags">
    <h3>
      Tags
    </h3>
    <div>
      {{- range .Site.Taxonomies.tags -}}
      <span>
        <a href="{{ .Page.RelPermalink }}">
          {{- .Page.Title -}}
        </a>
      </span>
      {{- end -}}
    </div>
  </div>
  <!-- in-post toc -->
  {{- if .IsPage -}}
  {{- $pageShowToc := .Params.showToc -}}
  {{- $siteShowToc := .Site.Params.showToc -}}
  {{- if or ($pageShowToc) (and (ne $pageShowToc false) (ne $siteShowToc false)) -}}
  <div class="sidebar-item sidebar-toc">
    <h3>
      Contents
    </h3>
    {{- .TableOfContents -}}
  </div>
  {{- end -}}
  {{- else -}}
  {{- with .Site.Params.bgmImageChart -}}
  <!-- bgm.tv image chart -->
  <div class="sidebar-item sidebar-bgm">
    <h3>
      {{- i18n "sidebarBangumiChart" -}}
    </h3>
    <img src="{{ $.Site.Params.lazyPlaceholder | relURL }}" data-src="https://bgm.tv/chart/img/{{ . }}" alt="Bangumi" />
  </div>
  {{- end -}}
  {{- end -}}
</aside>
