header {
  background-color: var(--color-header);
  box-shadow: 0 0.125rem 0.25rem rgba(30, 30, 30, 0.3);
  position: sticky;
  top: 0;
  width: 100%;

  .header {
    padding: 0.75rem 1.5rem;
  }

  .title-main {
    color: var(--color-font);
    font-size: 1.5rem;
    font-family: $title-font;
    font-weight: $font-weight-bold;
    white-space: nowrap;

    &:hover {
      color: var(--color-mute);
    }
  }

  .title-sub {
    margin: 0 0.1rem;
    display: block;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none; // WebKit
    }

    scrollbar-width: none; // Firefox
  }
}
