header {
	.header {
		padding: 1rem 1.5rem;
	}

	.title-main {
		color: var(--color-font);
		font-size: 2rem;
		font-family: $title-font;
		font-weight: 700;
		white-space: nowrap;

		&:hover {
			color: var(--color-mute);
		}
	}

	.title-sub {
		margin: 0 0.1rem;
		display: block;
		white-space: nowrap;

		&::-webkit-scrollbar {
			display: none; // WebKit
		}

		scrollbar-width: none; // Firefox
		-ms-overflow-style: none; // Microsoft
	}
}
